* 
{
	background-color: rgb(43, 43, 43);
}

h1
{
	color:rgb(52, 221, 111);
	font-size:100px;
	/* font-weight:500px; */
}

body 
{
	text-align: left;
	color:white;
	background-color: rgb(75, 75, 75);
	text-align: center;
	z-index: -2;
}

ol, li, .something
{
	background-color: rgb(232, 32, 148);
}