
h1
{
	color:rgb(52, 221, 111);
	font-size:100px;
	/* font-weight:500px; */
}

/* .option
{
	grid-row: 1;
	background-color: red;
} */

.menu
{
	display: grid;
	height: 40px;
	background-color: rgb(130, 130, 130);
}


.square
{
	width:100%;
	height:100%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgb(52, 221, 111);
}

body 
{
	background-size: cover;
	background-image: url(file:///Users/mialbert/Downloads/342173.jpeg);
	text-align: left;
	color:white;
	text-align: center;
	display:block;

	/* overflow: hidden; */
}

.options ul
{
	/* float: left; */
	border-style:solid;
	/* border-radius: 20px; */
	width:100%;
	border-color: rgb(69, 69, 69);
	overflow: hidden;
	display: flex;
	/* justify-content: space-evenly; */
	padding: 10px;
	margin: auto;
	background-color: rgb(23, 23, 23);
	animation-name: line;
	animation-duration: 2s;
	list-style-type: none;
}

a
{
	color: white;
}

li:hover
{
	animation-name: rainbow_options;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.options ul li
{
	justify-self: left;
	font-size: 15px;
	/* transform: rotateZ(-30deg); */
	/* border-radius: 50000px; */
	border-style: double;
	/* border-radius: 10; */
	color: white;
	font-size: 20px;
	padding: 10px 100px;
	background-color: rgb(52, 221, 111);
	display: inline;
}

@keyframes rainbow_options
{
	0% {background-color: rgb(52, 221, 111)}
	25% {background-color: rgb(238, 42, 252);}
	50% {background-color: rgb(221, 52, 75);}
	75% {background-color: rgb(221, 125, 52);}
	100% {background-color: rgb(52, 221, 111)}
}

@keyframes line
{
	from {width: 0;}
	to {width: 100;}
}

